<br><br>
    <article class="container">
        <div class="row my-4">
            <div class="col-12 text-center">
                <h1> Entre em Contato </h1>
                <p class="p-3"> Quer transformar seus projetos em realidade, entre em contato conosto. <br>
                    Nosso time de especialistas podem tirar todas as suas duvidas e te atender da melhor forma possivel.</p>
            </div>
        </div>
    </article>
    <!-- FORMULÁRIO -->
    <main class="container">
        <form>
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label for="nome-form" class="d-block">Nome:</label>
                        <div>
                            <input type="text" class="form-control" name="name" placeholder="Digite seu nome"
                                id="nome-form">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label for="sobrenome-form" class="d-block">Sobrenome:</label>
                        <div>
                            <input type="text" class="form-control" name="name" placeholder="Digite seu sobrenome"
                                id="sobrenome-form">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label for="tel-form" class="d-block">Telefone:</label>
                        <div>
                            <input type="text" class="form-control" name="name" placeholder="(00) 0000-0000"
                                id="tel-form">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label for="nameform" class="d-block">Email:</label>
                        <div>
                            <input type="email" class="form-control" name="name" placeholder="Digite seu email"
                                id="nameform">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="msgsubject" class="d-block">Assunto:</label>
                        <input type="text" class="form-control" name="name" placeholder="Digite o assunto"
                            id="msgsubject">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="msgform">Mensagem:</label>
                        <textarea name="msg" class="form-control" id="msgform" rows="10"
                            placeholder="Digite a mensagem"></textarea>
                    </div>
                </div>
            </div>
            <!-- escolher arquivo -->
            <br>
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <button class="btn btn-outline-primary btn-lg" type="submit">Enviar</button> 
                    </div>
                </div>
            </div>
        </form>
    </main>

    <br>
    <!-- RODAPÉ -->
    <footer class="footer">
    </footer>



